<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>daily_tickler.py</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/dgolliher/.virtualenvs/tickler-file/bin/python</string>
		<string>daily_tickler.py</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/dgolliher/CodeProjects/dg-tickler-file</string>
	<key>StartCalendarInterval</key>
	<array>
	<dict>
		<key>Minute</key>
		<integer>30</integer>
		<key>Hour</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>Minute</key>
		<integer>30</integer>
		<key>Hour</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>Minute</key>
		<integer>05</integer>
		<key>Hour</key>
		<integer>10</integer>
	</dict>
    </array>
	<key>Debug</key>
    <true/>
</dict>
</plist>
